header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube
    .header_column
        form(action=routes.search, method="get")
         input(type="text", placeholder="Search by term...", name="term") 
            

    .header__column
        ul
            li  
                a(href=routes.login) Log in
            li
                a(href=routes.join) Join


//- log out header 추가.
//- 만약 로그아웃 된 상태라면, Join, Login이 보여아 한다.