extends layouts/main.pug
include mixins/videoBlock

block content
    .search__header  
        h3 Searching by #{searchingBy}
    .search__videos
        each db in videos 
            +videoBlock({
                title: db.title,
                views: db.views,
                videoFile: db.videoFile
            })