extends layouts/main.pug
include mixins/videoBlock

block content
    .search__header  
        h3 Searching by #{searchingBy}
    .search__videos
        if videos.length === 0
            h5 No Videos Found.
        each db in videos 
            +videoBlock({
                title: db.title,
                views: db.views,
                videoFile: db.fileUrl,
                id: db.id
            })